.noPage {
  height: calc(100vh + 65px);
  width: 100vw;
  background-image: url("~@/assets/img/404.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: -65px;
  position: fixed;
  .ant-btn {
    background-color: rgba(255, 255, 255, 0);
    margin-left: 50vw;
    margin-top: 38vh;
    border: 1px solid #fff;
    border-radius: 11px;
    color: #fff;
    width: 130px;
    height: 46px;
    font-size: 20px;
  }
}